@font-face {
    font-family: Rubik;
    src: url("../fonts/Rubik-VariableFont_wght.woff");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
}
.container{
    max-width: 1540px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: inherit;
}
button, input{
    outline: none;
}